body{
	background: #ff7a82 !important;
	padding-top: 70px;
}

a.enter{
	color:black;
	text-decoration: none;
/* 	font-weight: bold; */
	font-family: Arial;
	padding-left: 25px;
        padding-right: 25px;
}

.oc{
	background: #ff7a82
}

.icon {
    font-size:4em;
    color:black;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.icon:hover {
    transform:scale(1.15);
    -moz-transform:scale(1.15);
    -webkit-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
}
